body
{
    background: linear-gradient(90deg, #FFF5E4,#FFE3E1,#FFD1D1,#FF9494);
}

.titulo-principal {
    font-size: 1.5em;
    color: black;
    letter-spacing: 0.5em;
    font-weight: bold;
    margin-left: 0.5em;
}
.titulo {
    font-size: 1em;
    color: black;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-left: 0.5em;
}

.texto {
    font-size: 0.8em;
    color: black;
    letter-spacing: 0.1em;
    text-align: justify;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#atributosTabela
{
    font-size: 0.8em;
    color: black;
    text-align: center;
}