.cabeçalho {
    margin-left: 0;
    width: 200px;
}
.imagem{
    max-width:1340px;
    width: auto;
    height: auto;
}

.trabalhe-conosco{
    text-align: left;
    font-family: georgia;
    color:brown;
    margin-left: 1.5em;
    font-size: 1.2em; 
}

#formulario
{
    text-align: left;
    font-family: georgia;
    color:black;
    font-size: 0.8em;
    line-height: 1.5em;
}




