body {
    background-color: black;
}

.titulo-principal {
    font-size: 1.5em;
    color: pink;
    letter-spacing: 0.5em;
    font-weight: bold;
    margin-left: 0.5em;
}

.titulo {
    font-size: 1em;
    color: pink;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-left: 0.5em;
}

.texto {
    font-size: 0.8em;
    color: white;
    letter-spacing: 0.1em;
    text-align: justify;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#fraseCabeçalho {
    font-size: 1.8em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
}